<template>
<div>
<section class="jumbotron text-center">
  <img alt="bot logo" src="https://i.imgur.com/KnbhC1u.png" width="10%">
  <div class="container">
    <h1 class="jumbotron-heading">Student TA Bot</h1>
    <p class="lead text-muted">Built using PyTorch, Vue JS, and Tornado</p>
  </div>
</section>
<br>
     <div class="album py-5">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">Answers all the technical questions (from Lesson 2, 4 and Final Lab). More lessons will be added soon. Sample question: What is a perceptron?</p>
                </div>
                <img class="card-img-top" src="../assets/bot1.png" alt="Card image cap" width="30%">
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">You can drop in your code exceptions and bot will answer it! The notorious helper module not loaded now has an answer, by the bot!</p>
                </div>
                <img class="card-img-top" src="../assets/bot2.png" alt="Card image cap">
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">Bot is also trained to answer administrative questions too! When is the deadline? How Slack acitvity analysis is done? Who made this bot? etc.</p>
                </div>
                <img class="card-img-top" src="../assets/bot3.png" alt="Card image cap">
              </div>
            </div>
          </div>
        </div>
     </div>
</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class HelloWorld extends Vue {
}
</script>