<template>
  <div id="app">
-   <HelloWorld/>
    <beautiful-chat
      :participants="participants"
      :titleImageUrl="titleImageUrl"
      :onMessageWasSent="onMessageWasSent"
      :messageList="messageList"
      :newMessagesCount="newMessagesCount"
      :isOpen="isChatOpen"
      :close="closeChat"
      :open="openChat"
      :showTypingIndicator="showTypingIndicator"
      :colors="colors"
      :alwaysScrollToBottom="alwaysScrollToBottom"
      :messageStyling="messageStyling" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import connection from './lib/Connection';
import HelloWorld from './components/HelloWorld.vue';
import messageHistory from './messageHistory';
import chatParticipants from './chatProfiles';
import availableColors from './colors';

interface PredictionResponse {
  bot_reply: string;
  answer: string;
  accuracy: number;
}

@Component({
  components: {
    HelloWorld,
  },
})
export default class App extends Vue {

  public mounted() {
    connection.connect();
    connection.registerEventListener(connection.onMessageEvent, this.onMessageEventHandler.bind(this));
  }

  data() {
    return {
      participants: chatParticipants,
      titleImageUrl: 'https://i.imgur.com/8g9XVpc.png',
      messageList: messageHistory,
      newMessagesCount: 4,
      isChatOpen: false,
      showTypingIndicator: '',
      colors: null,
      availableColors,
      chosenColor: null,
      alwaysScrollToBottom: false,
      messageStyling: false,
    }
  }

  created() {
    this.setColor('blue')
  }

  onMessageEventHandler(ev) {
    if (ev.data === "hello!") {
      console.log("connection established")
      return
    }
    const response = ev.data as PredictionResponse;
    console.log(response);
    let msg = { author: 'tabot', type: 'text', data: { text:response.bot_reply } }
    this.messageList = [...this.messageList,  msg]
  }

  sendMessage (text) {
      console.log(" I was called: ", text)
      if (text.length > 0) {
        this.newMessagesCount = this.isChatOpen ? this.newMessagesCount : this.newMessagesCount + 1
        this.onMessageWasSent({ author: 'support', type: 'text', data: { text } })
      }
    }
    handleTyping (text) {
      this.showTypingIndicator = text.length > 0 ? this.participants[this.participants.length - 1].id : '';
    }
    onMessageWasSent (message) {
      this.messageList = [ ...this.messageList, message ]
      let question = { "question": message.data.text};
      console.log(question)
      connection.send(JSON.stringify(question));
    }
    openChat () {
      this.isChatOpen = true
      this.newMessagesCount = 0
    }
    closeChat () {
      this.isChatOpen = false
    }
    setColor (color) {
      this.colors = this.availableColors[color]
      this.chosenColor = color
    }
    messageStylingToggled(e) {
      this.messageStyling = e.target.checked
    }
    get linkColor() {
      return this.chosenColor === 'dark' ? this.colors.sentMessage.text : this.colors.launcher.bg
    }
    get backgroundColor() {
      return this.chosenColor === 'dark' ? this.colors.messageList.bg : '#fff'
    }
}
</script>

<style lang="scss">
@import '../node_modules/bootstrap/scss/bootstrap.scss';
</style>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

:root {
  --jumbotron-padding-y: -1rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.card-img-top {
    width: 80%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    display: block;
    margin: auto;
    padding-bottom: 1em;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
</style>
